{% extends "admin/base.html" %}
{% load staticfiles %}
{% load mptt_tags %}
{% block content %}

<section class="panel">
    <header class="panel-heading">
        <h3 class="m-b-md">Sideoversikt</h3>
        <span class="m-r-sm"><span class="status-publisert"><i class="fa fa-circle m-r-sm"> </i> </span> Publisert</span>
        <span class="m-r-sm"><span class="status-venter"><i class="fa fa-circle m-r-sm"> </i> </span> Venter</span>
        <span class="m-r-sm"><span class="status-kladd"><i class="fa fa-circle m-r-sm"> </i> </span> Utkast</span>
        <span class="m-r-sm"><span class="status-slettet"><i class="fa fa-circle m-r-sm"> </i> </span> Slettet</span>
    </header>

    <section class="panel-body">
        {% if pages %}
        <table class="table table-striped">
            <colgroup>
                <col span="1" style="width: 50px; font-weight: bold;">
                {% if pageplant_settings.multilanguage %}
                <col span="1" style="width: 30px;">
                {% endif %}
                <col span="1" style="width: 60px;">
                <col span="1" style="width: 200px">
                <col span="1">
                <col span="1" style="width: 60px;">
                <col span="1" style="width: 60px;">
                <col span="1" style="width: 60px;">
                <col span="1" style="width: 60px;">
                <col span="1" style="width: 40px;">
            </colgroup>
            <thead>
                <tr>
                    <th class="center-text">&#8470;</th>
                    {% if pageplant_settings.multilanguage %}
                    <th>lang</th>
                    {% endif %}
                    <th></th>
                    <th>Tittel</th>
                    <th>Identifiseringsnøkkel</th>
                    <th>URL</th>
                    <th class="center-text">Opprettet</th>
                    <th>Endret</th>
                    <th>Bruker</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for page in pages %}
            {% full_tree_for_model pages.Page as page_tree %}
            {% ifchanged page.is_partial %}
                {% if page.is_partial %}
                    <tr class="success">
                        <td colspan="10" style="background-color: #767676;color: #fff;" class="small"><strong>Fragmenter</strong></td>
                    </tr>
                {% else %}
                    <tr class="success">
                    <td colspan="10" style="background-color: #767676;color: #fff;" class="small"><strong>Fullverdige sider</strong></td>
                    </tr>
                {% endif %}

            {% endifchanged %}
                    <tr>
                        <td class="text-mono"><small><span class="text-muted">#</span>{{ page.pk|stringformat:"03d" }}</small></td>
                        {% if pageplant_settings.multilanguage %}
                        <td>
                            <img src="{% static 'admin/img/blank.gif' %}" class="flag flag-{{ page.language }}" alt="{{ page.language }}" />
                        </td>
                        {% endif %}
                        <td class="status-{{ page.status_class|lower }}">
                            <i class="fa fa-circle"></i>
                        </td>
                        <td>
                            {{ page.header }}
                        </td>
                        <td>
                            {{ page.identifier }}
                        </td>
                        <td class="text-mono">
                            {{ page.slug }}
                        </td>
                        <td class="center-text text-muted"><small>{{ page.created|date:"d/m/y" }}</small></td>
                        <td class="center-text text-muted"><small>{{ page.updated|date:"d/m/y" }}</small></td>
                        <td class="text-muted"><small>{{ page.user }}</small></td>
                        <td>
                            <a class="dropdown-toggle ddbutton" data-toggle="dropdown">
                                  <i class="fa fa-bars"></i>
                            </a>
                            <ul class="dropdown-menu" style="right: 0; left: auto;">
                                <li>
                                    <a href="{% url 'admin:pages:view' page.pk %}">
                                        <i class="fa fa-search m-r-sm"> </i>
                                        Vis side
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'admin:pages:update' page.pk %}">
                                        <i class="fa fa-edit m-r-sm"> </i>
                                        Endre side
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'admin:pages:delete' page.pk %}">
                                        <i class="fa fa-trash-o m-r-sm"> </i>
                                        Slett side
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
{# ---- children ---- #}
                        {% for child in page.get_children.all %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <i class="fa fa-arrow-circle-o-right m-r-sm"></i> {{ child.header }}
                            </td>
                            <td class="text-mono">
                                {{ child.identifier }}
                            </td>
                            <td class="text-mono">
                                {{ child.slug }}
                            </td>
                            <td class="center-text text-muted"><small>{{ child.created|date:"d/m/y" }}</small></td>
                            <td class="center-text text-muted"><small>{{ child.updated|date:"d/m/y" }}</small></td>
                            <td class="text-muted"><small>{{ child.user }}</small></td>
                            <td>
                                <a class="dropdown-toggle ddbutton" data-toggle="dropdown">
                                      <i class="fa fa-bars"></i>
                                </a>
                                <ul class="dropdown-menu" style="right: 0; left: auto;">
                                    <li>
                                        <a href="{% url 'admin:pages:view' child.pk %}">
                                            <i class="fa fa-search m-r-sm"> </i>
                                            Vis side
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'admin:pages:update' child.pk %}">
                                            <i class="fa fa-edit m-r-sm"> </i>
                                            Endre side
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'admin:pages:delete' child.pk %}">
                                            <i class="fa fa-trash-o m-r-sm"> </i>
                                            Slett side
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}

                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>
                <i class="fa fa-info-circle m-r-sm"></i> Ingen sider enda.
            </p>
        {% endif %}
    </section>
</section>

<div class="form-actions">
    <a href="{% url 'admin:pages:create' %}" class="btn btn-primary">
        <i class="fa fa-plus fa-fw"></i> Ny side
    </a>
</div>
{% endblock content %}
